<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .code {
      padding     : 10px 20px;
      background  : #eeeeee;
      border      : black 1px solid;
      white-space : normal
    }
  </style>
  <script type="text/javascript">
    var _tqbTracking = _tqbTracking || {};
    _tqbTracking.logType = 40;
  </script>
  <script src="/static/bundle.js"></script>
</head>

<body data-tracking-load="{'tracking-load' : {b: 234}}" tracking-config="type: 60">
<button aria-tracking-click="aria-tracking, aira-other">ariaSend</button>
<button data-tracking-click="data-tracking, data-other">dataSend</button>
<button tracking-click="c, df, af, sdf, sdf">send</button>
<button aria-tracking-click="{aaaaaa: {b: 3454}, bbbbbb: {sdf: '11111111'}}">ariaSend2</button>
<button data-tracking-click="{aaaaaa: {b: 1234}, bbbbb: {sdf: '22222222'}}">dataSend2</button>
<button tracking-click="{aaaaaa: {b: 6664}, bbbb: {sdf: '333333'}}">send2</button>


<h4>content</h4>

<pre id="ele-event" class="code" style="width: 45%;float: left;">
</pre>

<pre id="ele-content" class="code" style="width: 45%; float: right;">
</pre>

<h4 style="clear:both">url</h4>
<pre id="ele-url" class="code">
</pre>


</body>
<script>
  window.tracking('H5_PAGE_VIEW_XXXXX');
</script>
</html>
